platform/platform-components/simulation-config/simulation-config-load/xml-config-unmarshal/src/main/resources/xsd/common-types.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://hage.platform.org/config/common-types"
           xmlns:cmn="http://hage.platform.org/config/common-types"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="PositiveInt">
        <xs:restriction base="xs:int">
            <xs:minExclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NonNegativeInt">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ClassNameType">
        <xs:restriction base="xs:string">
            <xs:pattern value="(\w+\.)*\w+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DimensionSizeType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="10000"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EmptyMarkerTag">
        <xs:restriction base="xs:string">
            <xs:maxLength value="0"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>