platform/platform-components/simulation-config/simulation-config-load/xml-config-unmarshal/src/main/resources/xsd/sim-config.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:cmn="http://hage.org/simulation_config/commonTypes"
           targetNamespace="http://hage.org/simulation_config/base"
           xmlns:hbconf="http://hage.org/simulation_config/base"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:import schemaLocation="common-types.xsd" namespace="http://hage.org/simulation_config/commonTypes"/>

    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="balanceConfig" type="hbconf:LoadBalanceConfig" minOccurs="0"/>

                <xs:element name="computationRateConfig" type="hbconf:ComputationRatingConfig" minOccurs="0"/>

                <xs:element name="structureDef" type="hbconf:StructureDefinition" />


                <xs:element name="population" type="hbconf:PopulationType" />

                <xs:element name="stopCondition" >
                    <xs:complexType>
                        <xs:attribute name="stopConditionClass" type="cmn:ClassNameType"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="propertiesConfigurator" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute name="configuratorClass" type="cmn:ClassNameType"/>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:complexType name="LoadBalanceConfig">
        <xs:sequence>
            <xs:element name="balanceMode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="DISABLED"/>
                        <xs:enumeration value="AFTER_STEP_COUNT"/>
                        <xs:enumeration value="AFTER_SECONDS_PASSED"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="amount">
            <xs:simpleType>
                <xs:restriction base="xs:int">
                    <xs:minInclusive value="0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ComputationRatingConfig">
        <xs:sequence>
            <xs:element name="enabledRateMeasurers" type="hbconf:MeasurerTypeType"  maxOccurs="unbounded"/>
            <xs:element name="measurerRateConfigs" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="measuredType" type="hbconf:MeasurerTypeType"/>
                        <xs:element name="rateWeight">
                            <xs:simpleType>
                                <xs:restriction base="xs:int">
                                    <xs:minInclusive value="1"/>
                                    <xs:maxInclusive value="10"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="maxRate" type="cmn:PositiveInt"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="MeasurerTypeType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="CONCURRENCY"/>
            <xs:enumeration value="RAM_MEMORY"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="StructureDefinition">
        <xs:choice>
            <xs:element name="gridDef">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="dimensions" type="hbconf:Dimensions"/>
                        <xs:element name="neighbouhoodType" type="hbconf:NeighbourhoodType"/>
                        <xs:element name="boundaryConditions" type="hbconf:BoundaryConditionsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="graphDef">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="position" type="hbconf:Position" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="edge" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="source" type="hbconf:Position"/>
                                    <xs:element name="destination" type="hbconf:Position"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="type" type="hbconf:GraphType"/>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:simpleType name="GraphType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="DIRECTED"/>
            <xs:enumeration value="UN_DIRECTED"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Dimensions">
        <xs:sequence>
            <xs:element name="depthSize" type="cmn:PositiveInt"/>
            <xs:element name="horizontalSize" type="cmn:PositiveInt"/>
            <xs:element name="verticalSize" type="cmn:PositiveInt"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Position">
        <xs:attribute name="depth" type="cmn:NonNegativeInt"/>
        <xs:attribute name="horizontal" type="cmn:NonNegativeInt"/>
        <xs:attribute name="vertical" type="cmn:NonNegativeInt"/>
    </xs:complexType>

    <xs:simpleType name="NeighbourhoodType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="NO_NEIGHBORS"/>
            <xs:enumeration value="VON_NEUMANN_NEIGHBORHOO"/>
            <xs:enumeration value="MOORE_NEIGHBORHOOD"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BoundaryConditionsType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="CLOSED"/>
            <xs:enumeration value="DEPTH__TORUS"/>
            <xs:enumeration value="HORIZONTAL__TORUS"/>
            <xs:enumeration value="VERTICAL__TORUS"/>
            <xs:enumeration value="DEPTH_AND_HORIZONTAL__TORUS"/>
            <xs:enumeration value="DEPTH_AND_VERTICAL__TORUS"/>
            <xs:enumeration value="HORIZONTAL_AND_VERTICAL__TORUS"/>
            <xs:enumeration value="FULL__TORUS"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="PopulationType">
        <xs:sequence>

            <xs:element name="agentDefs"  maxOccurs="unbounded">
                <xs:complexType >
                    <xs:attribute name="id" type="xs:ID" use="required"/>
                    <xs:attribute use="required" name="agentClass" type="cmn:ClassNameType"/>
                </xs:complexType>
            </xs:element>

            <xs:element name="controlAgentDef"  minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="agentClass" type="cmn:ClassNameType"/>
                </xs:complexType>
            </xs:element>

            <xs:element name="populationRegion" type="hbconf:PopulationRegionDescriptorType"  maxOccurs="unbounded"/>

            <xs:element name="agentPopulations" type="hbconf:AgentPopulationType"  maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>


<xs:complexType name="PopulationRegionDescriptorType">
    <xs:sequence>
        <xs:element name="dimensions" type="hbconf:Dimensions"/>
        <xs:element name="position" type="hbconf:Position"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>

<xs:complexType name="AgentPopulationType">
    <xs:sequence>
        <xs:element name="regionCellsSelection" >
            <xs:complexType>
                <xs:choice>
                    <xs:element name="allCells" />
                    <xs:element name="random" >
                        <xs:complexType>
                            <xs:attribute name="count" use="optional" type="cmn:PositiveInt"/>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:complexType>
        </xs:element>
        <xs:element name="singleCellPopulation" >
            <xs:complexType>
                <xs:choice>
                    <xs:element name="fixedCountSelector" type="cmn:PositiveInt" />
                    <xs:element name="rangeCountSelector">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="from" type="cmn:PositiveInt"/>
                                <xs:element name="to" type="cmn:PositiveInt"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="randomCountSelector"/>
                </xs:choice>
            </xs:complexType>
        </xs:element>

    </xs:sequence>
    <xs:attribute name="agentDefRef" type="xs:IDREF" use="required"/>
    <xs:attribute name="regionRef" type="xs:IDREF" use="required"/>
</xs:complexType>



</xs:schema>